<div class="grid-item">
    <a href="{{ movie.url | relative_url }}">
        <img 
            src="{{ movie.img | relative_url }}"
            loading="lazy"
            width="100%"
        />
    </a>
</div>