<div class="grid-item">
    <a href="{{ movie.url | relative_url }}">
        <div>
            {%
            include figure.liquid
            loading="lazy"
            path=movie.img
            alt="project thumbnail"
            class="card-img-top"
            %}
        </div>
    </a>
</div>