---
layout: default
---
<link rel="stylesheet" href="{{ '/assets/css/sidebar-shared.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}">

<div class="blog-container">
  {% include sidebar-filter-inputs.liquid sidebar_key="blog" %}

  <main class="blog-content">
    <ul class="post-list">
      {% assign posts = site.posts %}
      {% for post in posts %}      
        <li class="post-item" data-cat="{{ post.category | downcase }}">
          <div class="row">
            {% if post.thumbnail %}
              <div class="col-sm-5">
                <img class="card-img" src="{{ post.thumbnail | relative_url }}" alt="{{ post.title }}">
              </div>
            {% endif %} 
                       
            <div class="{% if post.thumbnail %}col-sm-7{% else %}col-sm-12{% endif %}">
              <h3>
                <a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
              </h3>
              <p class="post-description">{{ post.description }}</p>
              <div class="post-meta">
                {{ post.date | date: '%Y年%-m月%-d日' }}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </main>

  {% include sidebar-filter-nav.liquid sidebar_key="blog" label="INDEX / 索引" %}
</div>