<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    {% if page.extra_css %}
      {% for css_name in page.extra_css %}
        <link rel="stylesheet" href="{{ '/assets/css/' | append: css_name | append: '.css' | relative_url }}">
      {% endfor %}
    {% endif %}

    {% if page.extra_js %}
        {% for js in page.extra_js %}
            <script src="{{ '/assets/js/' | append: js | append: '.js' | relative_url }}"></script>
        {% endfor %}
    {% endif %}
</head>
<body>
    <nav>
        <a href="/">首页</a>
        <a href="/screen/">苏幕遮</a> 
        </nav>
    <hr>
    
    <main>
        {{ content }}
    </main>

    <footer style="margin-top: 50px; color: #999; font-size: 0.8em;">
        &copy; {{ "now" | date: "%Y" }} {{ site.title }}
    </footer>
</body>
</html>