---
layout: default
---

<div class="projects">
    <!-- Generate cards for each project -->
    <div class="container">
          <div class="row">
              {% include movie_review_card.liquid %}
          </div>
    </div>
</div>